<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleIdentifier</key>
        <string>us.myepg.MemoryTamer.MTPrivilegedHelper</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>MTPrivilegedHelper</string>
        <key>CFBundleVersion</key>
        <string>1.0</string>
        <key>SMAuthorizedClients</key>
        <array>
            <string>identifier us.myepg.MemoryTamer and certificate leaf[subject.CN] = &quot;Developer ID Application: Eric Henderson (SKWXXEM822)&quot;</string>
        </array>
    </dict>
</plist>
