.repl_history
build
tags
app/pixate_code.rb
resources/*.nib
resources/*.momd
resources/*.storyboardc
.DS_Store
nbproject
.redcar
*~
*.sw[po]
.eprj
.sass-cache
.idea
.dat*.*
ib.xcodeproj
vendor/*/build-MacOSX
vendor/Podfile.lock
vendor/Pods
manual.synctex.gz
manual.aux
manual.fdb_latexmk
manual.fls
manual.log
manual.out
manual.toc
manual/manual.pdf
*.dSYM.zip